body {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#notes .card {
  margin-top: 10px;
}

#note-input {
  white-space: pre-wrap; /* Preserve white space */
}
